In [15]:
import pandas as pd
import numpy as np
from geopy import distance
from geopy import Point

In [11]:
rawData = pd.read_csv("data/nybike_from_url_2018_2019_2020.csv")
df_18_19_20 = pd.DataFrame(rawData)
df_18_19_20.head()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age
0,789,2020-01-01 00:00:55.390,2020-01-01 00:14:05.147,504.0,1 Ave & E 16 St,40.732219,-73.981656,307.0,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1,27
1,1541,2020-01-01 00:01:08.102,2020-01-01 00:26:49.178,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1,50
2,1464,2020-01-01 00:01:42.140,2020-01-01 00:26:07.011,3687.0,E 33 St & 1 Ave,40.743227,-73.974498,259.0,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1,56
3,592,2020-01-01 00:01:45.561,2020-01-01 00:11:38.155,346.0,Bank St & Hudson St,40.736529,-74.006180,490.0,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1,39
4,702,2020-01-01 00:01:45.788,2020-01-01 00:13:28.240,372.0,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1,37

In [3]:
df_18_19_20.tail()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age
20726149,283,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195.0,Sip Ave,40.730897,-74.063913,3679.0,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1,29
20726150,267,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186.0,Grove St PATH,40.719586,-74.043117,3205.0,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1,30
20726151,379,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209.0,Brunswick St,40.724176,-74.050656,3185.0,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1,35
20726152,188,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639.0,Harborside,40.719252,-74.034234,3186.0,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1,32
20726153,326,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195.0,Sip Ave,40.730897,-74.063913,3280.0,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1,31

In [12]:
df_18_19_20['Gender']

0           1
1           1
2           1
3           1
4           1
           ..
20726149    1
20726150    1
20726151    1
20726152    1
20726153    1
Name: Gender, Length: 20726154, dtype: int64

In [13]:
df_18_19_20['Gender'] = df_18_19_20['Gender'].replace([0,1,2],['unknown',"Male","Female"])
df_18_19_20["Distance"] = ''
df_18_19_20.tail()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age,Distance
20726149,283,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195.0,Sip Ave,40.730897,-74.063913,3679.0,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,Male,29,
20726150,267,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186.0,Grove St PATH,40.719586,-74.043117,3205.0,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,Male,30,
20726151,379,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209.0,Brunswick St,40.724176,-74.050656,3185.0,City Hall,40.717732,-74.043845,26276,Subscriber,1984,Male,35,
20726152,188,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639.0,Harborside,40.719252,-74.034234,3186.0,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,Male,32,
20726153,326,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195.0,Sip Ave,40.730897,-74.063913,3280.0,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,Male,31,

In [ ]:
for index, row in df_18_19_20.iterrows():
    coords_1 = (row['Start Station Latitude'],row['Start Station Longitude'])
    coords_2 = (row['End Station Latitude'],row['End Station Longitude'])
    df_18_19_20.at[index,'Distance'] = distance.distance(coords_1, coords_2).km  
   # df_18_19_20.set_value(index,'distance',distance.vincenty(coords_1, coords_2).km)
df_18_19_20.tail()

In [ ]:
df_18_19_20.isnull().any() # Null values in column "Birth Year" detected

In [ ]:
df_18_19_20.to_csv('data/18_19_20_citibikenyc_tripdata.csv', index_label = "TripID")