In [1]:
import pandas as pd
import numpy as np
from geopy import distance
from geopy import Point

In [2]:
rawData = pd.read_csv("data/nybike_from_url_2018.csv")
df_18 = pd.DataFrame(rawData)
df_18.head()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,26
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1,49
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1,62
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1,44
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1,26

In [3]:
df_18.tail()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age
17886141,1081,2018-12-22 11:51:46.060,2018-12-22 12:09:47.473,3694.0,Jackson Square,40.71113,-74.0789,3269.0,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1,25
17886142,344,2018-12-25 21:40:09.866,2018-12-25 21:45:54.267,3694.0,Jackson Square,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2,35
17886143,1233,2018-12-29 12:55:45.969,2018-12-29 13:16:19.596,3694.0,Jackson Square,40.71113,-74.0789,3186.0,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1,30
17886144,1057,2018-12-30 15:32:09.332,2018-12-30 15:49:46.351,3694.0,Jackson Square,40.71113,-74.0789,3213.0,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2,27
17886145,301,2018-12-31 16:34:11.934,2018-12-31 16:39:13.834,3694.0,Jackson Square,40.71113,-74.0789,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1,27

In [4]:
df_18['Gender']

0           1
1           1
2           1
3           1
4           1
           ..
17886141    1
17886142    2
17886143    1
17886144    2
17886145    1
Name: Gender, Length: 17886146, dtype: int64

In [5]:
df_18['Gender'] = df_18['Gender'].replace([0,1,2],['unknown',"Male","Female"])
df_18["Distance"] = ''
df_18.tail()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age,Distance
17886141,1081,2018-12-22 11:51:46.060,2018-12-22 12:09:47.473,3694.0,Jackson Square,40.71113,-74.0789,3269.0,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,Male,25,
17886142,344,2018-12-25 21:40:09.866,2018-12-25 21:45:54.267,3694.0,Jackson Square,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,Female,35,
17886143,1233,2018-12-29 12:55:45.969,2018-12-29 13:16:19.596,3694.0,Jackson Square,40.71113,-74.0789,3186.0,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,Male,30,
17886144,1057,2018-12-30 15:32:09.332,2018-12-30 15:49:46.351,3694.0,Jackson Square,40.71113,-74.0789,3213.0,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,Female,27,
17886145,301,2018-12-31 16:34:11.934,2018-12-31 16:39:13.834,3694.0,Jackson Square,40.71113,-74.0789,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,Male,27,

In [6]:
for index, row in df_18.iterrows():
    coords_1 = (row['Start Station Latitude'],row['Start Station Longitude'])
    coords_2 = (row['End Station Latitude'],row['End Station Longitude'])
    df_18.at[index,'Distance'] = distance.distance(coords_1, coords_2).km  
   # df_18_19_20.set_value(index,'distance',distance.vincenty(coords_1, coords_2).km)
df_18.tail()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age,Distance
17886141,1081,2018-12-22 11:51:46.060,2018-12-22 12:09:47.473,3694.0,Jackson Square,40.71113,-74.0789,3269.0,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,Male,25,2.92133
17886142,344,2018-12-25 21:40:09.866,2018-12-25 21:45:54.267,3694.0,Jackson Square,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,Female,35,1.11179
17886143,1233,2018-12-29 12:55:45.969,2018-12-29 13:16:19.596,3694.0,Jackson Square,40.71113,-74.0789,3186.0,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,Male,30,3.16595
17886144,1057,2018-12-30 15:32:09.332,2018-12-30 15:49:46.351,3694.0,Jackson Square,40.71113,-74.0789,3213.0,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,Female,27,2.7579
17886145,301,2018-12-31 16:34:11.934,2018-12-31 16:39:13.834,3694.0,Jackson Square,40.71113,-74.0789,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,Male,27,1.09856

In [7]:
df_18.isnull().any() # Null values in column detected

Trip Duration (sec)        False
Start Time                 False
Stop Time                  False
Start Station ID           False
Start Station Name         False
Start Station Latitude     False
Start Station Longitude    False
End Station ID             False
End Station Name           False
End Station Latitude       False
End Station Longitude      False
Bike ID                    False
User Type                  False
Birth_Year                 False
Gender                     False
Age                        False
Distance                   False
dtype: bool

In [8]:
df_18.to_csv('data/2018_parsed_citibikenyc_tripdata.csv', index_label = "TripID")